html, body, #root, .App {
  height: 100%;
}
.App {
  display: flex;
  flex-direction: column;
}
/* Add background color to the body */
body {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}

/* Remove border color from the response list container */
#response-list {
  border: none;
  overflow-y: auto;
  flex: 1;
  padding-top: 15px;
}

.line {
  background: rgb(173, 173, 173);
  margin-bottom: 15px;
  width: 100%;
  height: 1px;
}

.my-question {
  background: rgb(234, 234, 234);
  width: max-content;
  max-width: 50vw; 
}
/* Change background color of the input container */
#input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: rgba(64, 65, 79, 1);
  border-color: rgba(32,33,35,.5);
  border-radius: 5px;
  margin: 10px 200px;
}


/* Remove background color and add an SVG background for the submit button */
#submit-button {
  background: transparent url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><path fill='white' d='M2.01 21L23 12 2.01 3 2 10l15 2-15 2z'/></svg>") no-repeat center center;
  color: white;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#regenerate-button-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  margin-left: 200px;
}

#regenerate-response-button {
  color: white;
  border: none;
  background: #c98105;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

.loading {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

#model-select-container {
  margin: 10px 200px;
  padding: 15px 20px;
  color: gray;
  border: 1px solid gray;
}

#model-select-container select {
  background: transparent;
  border: none;
  outline: none;
  color: black;
}
